.related-projects {
  @include web-max-width($web-max-widths);

  padding: $unit;
  margin: ($unit * 2) auto;
  text-align: center;
  border: 1px solid;
}

.related-project {
  margin-bottom: $unit * 0.25;
  line-height: line-height(-1);

  a {
    position: relative;

    &::before {
      display: none;
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: $unit * -0.5;
      width: $unit * 0.25;
      height: $unit * 0.25;
      border: 1px solid currentColor;
      border-radius: $unit * 0.25;
    }

    &:hover {
      &::before {
        background-color: currentColor;
      }
    }

    @include mq($min-width: $tablet) {
      &::before {
        display: block;
      }
    }
  }
}
