{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "justifiedLayout": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {}
}
