@font-face {
  font-family: "Left 3.5";
  src: url("Left3.5-Regular.woff2") format("woff2"), url("Left3.5-Regular.woff") format("woff"), url("Left3.5-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Left3.5";
  src: url("Left3.5-Medium.woff2") format("woff2"), url("Left3.5-Medium.woff") format("woff"), url("Left3.5-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}
