#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  height: $header-height;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transition: transform $base-duration $base-timing;

  // font-family: $heading-font-family;
  font-size: font-size(-1);
  background: $bg-color;

  @supports (-webkit-backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur($base-unit / 3);
    background-color: rgba($bg-color, 0.9);
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 ($base-unit / 2);

  //
  @include mq($min-width: $tablet-landscape) {
    position: relative;
    top: initial;
    right: initial;
    left: initial;
    padding: 0 $base-unit;
  }


  a {
    color: $gray-medium;

    &:hover {
      color: $action-color;
    }
  }
}

.site-title {
  font-size: font-size(-1);

  @include mq($min-width: $tablet-landscape) {
    font-size: font-size(0);
  }
}

.site-subtitle {
  font-size: font-size(-2);

  @include mq($min-width: $tablet-landscape) {
    font-size: font-size(-1);
  }
}

.site-title,
.site-subtitle {
  display: block;
  line-height: line-height(-3);
}

#logo {
  svg {
    display: block;
    height: $header-height;
    width: $base-unit * 7;
    fill: $blue;
  }
}
