.project {
  display: flex;
  flex-wrap: wrap;
}

.project-header,
.project-images,
.project-text {
  padding: $base-unit;
  margin: 0 auto;

  @include web-max-width($web-max-widths);
}

.project-header {
  flex: 1 100%;

  h1 {
    margin-bottom: 0;
  }
}

.project-featured-image {
  flex: 1 100vw;
}

.project-featured-image {
  order: 1;

  // width: 100vw;

  img {
    display: block;
    width: 100%;
  }
}

.project-images {
  display: none;
  order: 2;
  padding: 0;

  // margin-bottom: $base-unit * 2;
  flex: 1 30rem;

  @include mq($min-width: $tablet-landscape) {
    display: block;
  }
}

.project-image {
  padding: $base-unit $base-unit 0 $base-unit;

  // width: 100%;
  // height: 40vh;

  // background-repeat: no-repeat;
  // background-position: top center;
  // background-size: contain;

  img {
    display: block;

    // max-width: 100%;
    // max-height: 100%;
    // margin: 0 auto;
    width: 100%;
  }
}

.project-text {
  order: 3;
  flex: 1 40rem;

  // max-width: 60rem;
  padding: $base-unit;

  @include mq($min-width: $mobile-large) {
    padding: $base-unit * 2;
  }


  @include mq($min-width: $tablet) {
    padding: $base-unit * 3;
  }
}

.project-footer {
  order: 10;
  flex: 1 100%;
  padding: $base-unit;
  font-size: font-size(-2);
  line-height: line-height(-2);
}

// modified layout when no pictures to show
.project-text-only {
  @include web-max-width($web-max-widths);

  flex-flow: column;
  margin: 0 auto;

  .project-header {
    width: 100%;
  }

  .project-text {
    padding: $base-unit;
    padding-top: 0;

    @include mq($min-width: $tablet) {
      padding-right: $base-unit * 7;
    }


    @include mq($min-width: $tablet-landscape) {
      padding-right: $base-unit * 12;
    }
  }

  .project-footer {
    width: 100%;
    margin: 0 auto;
  }
}
