/* ==================================================
/* External dependecies
/* ================================================== */
// https://github.com/modularscale/modularscale-sass
@import "../../node_modules/modularscale-sass/stylesheets/modularscale";

// https://github.com/paranoida/sass-mediaqueries
@import "../../node_modules/sass-mediaqueries/media-queries";

// https://github.com/necolas/normalize.css/
@import "../../node_modules/normalize.css/normalize";

// https://github.com/kennethormandy/normalize-opentype.css
@import "../../node_modules/normalize-opentype.css/normalize-opentype.scss";

/* ==================================================
/* SCOM
/* ================================================== */
@import "tools/tools";
@import "variables/variables";
@import "base/base";

main {
  margin-top: $header-height * .8;

  @include mq($min-width: $tablet-landscape) {
    margin-top: 0;
  }
}

@import "partials/footer";
@import "partials/header";
@import "partials/loading";
@import "partials/navigation";
@import "partials/related-projects";
@import "partials/taxonomy";
@import "partials/lightbox";

@import "templates/archive";
@import "templates/default";
@import "templates/intro";
@import "templates/project";

#svg-lib {
  display: none;
}
