$blue: blue;

$red: red;

$black: #222;
$grey--1: #333;
$grey-0: #999;
$grey-1: #ddd;
$white: #fff;

// Font Colors
$text-color: $grey--1;
$heading-color: $text-color;
$action-color: $blue;

// Background Colors
$bg-color: $white;
$bg-color-2: tint($bg-color, 75%);
