$blue: blue;

$red: red;

$black: #222;
$gray-dark: #333;
$gray-medium: #999;
$gray-light: #ddd;
$white: #fff;

// Font Colors
$text-color: $gray-dark;
$heading-color: $black;
$action-color: $blue;

// Background Colors
$bg-color: $white;
$bg-color-2: tint($bg-color, 75%);
