// ==================================================
// Table of content
//
// 1. Breakpoints
// 2. Layout
// 3. Typography
// 4. Colors
// 5. Variables
// ==================================================


// ==================================================
// 1. Breakpoints
// ==================================================
@import "media-queries";


// ==================================================
// 2. Layout
// ==================================================
$web-max-widths: (
   xs: 100%,
    s: 100%,
    m: 100%,
    l: 61.25rem, // * 16px = 980px
   xl: 67rem,    // * 18px = 1206px
  xxl: 67rem     // * 19px = 1273px
);

// http://www.modularscale.com/?16&px&1.1875
$modularscale: (
  base: 1rem,
  ratio: 1.1875
);

// ==================================================
// 3. Typography
// ==================================================
@import "typography"; // <——— $unit defined here!


// ==================================================
// 4. Colors
// ==================================================
@import "colors";


// ==================================================
// 5. Variables
// ==================================================

// Border
$base-border-radius: $unit * 2;

// Shadow
$box-shadow: 0 0 $unit rgba(0, 0, 0, .2);

// 5.1. Buttons
$base-border-color: $grey--1;
$base-border: 1px solid $base-border-color;


// 5.2. Animations
@import "animations";


// Header & Navigation
$header-height: $unit * 3;

// Hero

// Sections
