.default {
  @include web-max-width($web-max-widths);

  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding: $unit;
  padding-top: 0;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
